.footer {
    background-color: #8686861a;
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 0px 0;
    width: 100%;
  }
  
  .social-links {
    margin-bottom: 10px;
  }
  
  .social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
  }
  
  .social-links a:hover {
    color: #8c00ff;
  }
  
  .social-links .social-icon {
    font-size: 1.5rem;
  }
  
  .footer-text {
    font-size: 18px;
    margin-top: 20px;
  }
  
  @media (max-width: 576px) {
    .footer {
      padding: 10px 0;
    }
  }
  